src/main/mule/sampleproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f0fc2563-556e-4bfc-816f-6d73328cfc25" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleprojectFlow" doc:id="cc8b56e6-866a-42b1-a601-b115f99267a2" >
		<http:listener doc:name="Listener" doc:id="e624025d-1c96-423f-b532-5e1a9cb5db61" config-ref="HTTP_Listener_config" path="/sample"/>
		<set-payload value='#["Hello"++ attributes.queryParams.name as String]' doc:name="Set Payload" doc:id="9453b549-151c-4d3b-9a46-23c43754aec9" />
		<ee:transform doc:name="Transform Message" doc:id="321f4e03-b412-471c-80f5-780c90935f4c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Hello World"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="eec76fb0-4a7e-40f4-87d4-8d4a70392d02" message="#[payload]"/>
	</flow>
</mule>
